<div class="container" style="width: 50%;">
    <h1 class="text-center">
        Formulario Alta de Usuario
    </h1>
    <div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Nombre</label>
                <input type="text" class="form-control" #nombre>
            </div>
            <div class="form-group col-md-12">
                <label>Apellido Paterno</label>
                <input type="text" class="form-control" #apPaterno>
            </div>
            <div class="form-group col-md-12">
                <label>Apellido Materno</label>
                <input type="text" class="form-control" #apMaterno>
            </div>
            <div class="form-group col-md-12">
                <label>Edad</label>
                <input type="number" class="form-control" #edad>
            </div>
            <div class="form-group col-md-12">
                <label>Correo</label>
                <input type="email" class="form-control" #correo>
            </div>
        </div>
        <br>
        <div class="form-group">
            <button class="btn btn-primary btn-xs" (click)="registrarUsuario()">Guardar</button>
        </div>
    </div>
</div>